/* shared container elements */

.image-title {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
  justify-content: center;
}

.article.image-title {
  height: 300px;
  text-align: center;
  font-size: 30px;
}

/* left column containers */

.column.left {
  width: 630px;
}

.lead.image-title {
  height: 300px;
  text-align: left;
  padding-left: 30px;
  font-size: 40px;
}

.lead-article {
  margin: 10px;
}

#lead-image {
  background-image: url(../media/img-story-main.png);
}

#article1 {
  background-image: url(../media/img-story-1.png);
}

#article2 {
  background-image: url(../media/img-story-2.png);
}


/* middle column containers */

.column.middle {
  width: 300px;
}

#article3 {
  background-image: url(../media/img-story-3.png);
}

/* right column containers */

.column.right {
  width: 240px;
}
